.wrapper {
  padding: 0 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLink {
  text-decoration: none;
  color: initial;
}

.bodyLink {
  text-decoration: none;
  color: initial;
  max-width: 300px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 1rem;
}

.mobileLink {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.slider {
  display: none;
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.gridItem {
  position: relative;
  height: 250px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: white;
  padding-left: 1rem;
  padding-bottom: 0.75rem;
  font-size: 16px;
}

.gridItem:nth-child(6n - 5),
.gridItem:nth-child(6n) {
  grid-column: span 2;
}

.gridItemTitle {
  position: relative;
  z-index: 1;
}

@media (max-width: 786px) {
  .wrapper {
    padding: 0;
  }

  .slider {
    display: block;
  }

  .grid {
    display: none;
  }

  .headerLink {
    display: none;
  }
}
